@import "~bootstrap/scss/bootstrap";

.action-panel {
  background-color: #c8c8fa;
}

.text-read {
  font-family: Georgia, 'Times New Roman', Times, serif
}

.site-container {
  padding-top: 30px;
  padding-bottom: 140px;
}

.site-container {
  overflow-y: hidden;
}

.card-swipe {
  min-height: 65vh;
}

.card-swipe.animated {
  transition: all 0.2s ease-in-out;
}