@import "~bootstrap/scss/bootstrap";

.action-panel {
  background-color: #c8c8fa;
}

.text-read {
  font-family: Georgia, 'Times New Roman', Times, serif
}

.site-container {
  padding-top: 30px;
  padding-bottom: 140px;
}